* {
    box-sizing: border-box;
}

body {
    font: 12px/14px Tahoma san-serif;
}

.users-list {
    width: 250px;
    border: 1px solid black;
    background: #fff;
}

.user {
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
    overflow: hidden;
}

.user h2 {
    float: left;
    width: 50%;
}

.user img {
    float: left;
    width: 50%;
    max-width: 100%;
    display: block;
}